# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
ENV/
env/

# VS Code settings
.vscode/

# macOS system files
.DS_Store

# Pytest cache
.pytest_cache/

# Jupyter notebooks
.ipynb_checkpoints/

# Logs
*.log
